body {
    margin: 0px;
    padding: 0px;
}

nav {
    height: 3.5rem;
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logos {
    white-space: nowrap;
}

.logo-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
}

.logo-slide p {
    display: inline;
    margin: 0 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.main {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form {
    width: 30rem;
    height: 32rem;
    background-color: white;

    border-radius: 19px;
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    box-shadow: 18px 18px 36px #b3b3b3,
        -18px -18px 36px #ffffff;
}

.form h2 {
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0;
    background-color: black;
}

label {
    display: block;
    margin: 2rem 0 1.5rem 2.5rem;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.select-container img {
    max-width: 2rem;
}

.select-container select {
    font-size: 0.9rem;
    width: auto;
    border: 0;
    background-color: #f8f7f7;
}

#amount {
    display: block;
    width: 24rem;
    height: 2rem;
    margin-left: 2.5rem;
    border-radius: 0.5rem;
}

.msg {
    margin: 2rem 0 2rem 2.5rem;
}

form button {
    height: 2.6rem;
    width: 25.3rem;
    background-color: black;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    cursor: pointer;
    margin-left: 2.2rem;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
}

#contact {
    padding: 17px 20px;
    border-radius: 100px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0 0 40px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;

}

#contact:hover {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

#contact:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}